  <div class="homepage-post-container">
    <a href="post/{{id}}">
      <div class="homepage-post">
        <h2>
          {{title}}
        </h2>
         <h2>
          Posted by {{user.name}} on
          {{format_date date_created}}
        </h2>
      </div>
      <p>
        {{description}}
      </p>
    </a>
  </div>