{{> posts}}
  <!--add comment to post area-->
  <form class="form-inline new-comment">
    <div class="form-group">
      <input type="hidden" id="post-id" value="{{id}}" />
      <label for="comment-add"></label>
      <textarea
        class="form-control"
        type="text"
        id="comment-add"
        name="comment-add"
        placeholder="Add your comment"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
    <p>{{comments.length}} comments</p>
  </form>
  {{#if comments.length}}
    {{#each comments as |comment|}}
      <p>{{comment.user.name}}
        {{format_date date_created}}</p>
      <p>{{comment.commentdesc}}</p>
    {{/each}}
  {{/if}}

</div>

<script src="/js/comment.js"></script>