{{!-- {{!< layouts}} --}}
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<div class="post-container">
  <div class="post">
    <h3>Create a New Project:</h3>
  </div>
  <form class="form new-project-form">
    <div class="form-group">
      <label for="project-name">Title</label>
      <input
        class="form-input"
        type="text"
        id="project-name"
        name="project-name"
      />
    </div>
    <div class="form-group">
      <label for="project-desc">Content</label>
      <textarea
        class="form-input"
        id="project-desc"
        name="project-desc"
      ></textarea>
    </div>
    <div class="form-group">
      <button type="submit">Create</button>
    </div>
  </form>
</div>
<!-- Loop over each object in the projects array -->
  {{#if posts.length}}
<h3 class="postTitle">You have created {{posts.length}} posts:</h3>
<div class="posts-list">
{{#each posts as |post|}}
<div class="post-container">
  <a href="post/{{id}}">
    <div class="homepage-post">
      <h2>
        {{title}}
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">X</button>
<button>update</button>
      </h2>
      <h2>
        Posted by
        {{name}}
        on
        {{format_date date_created}}
      </h2>
    </div>
    <p>
      {{description}}
    </p>
  </a>
</div>
{{/each}}
</div>
{{/if}}
<script src="./js/post.js"></script>